<p id="notice"><%= notice %></p>

<h1>Listing User Tabs</h1>

<table class="table table-condensed table-hover">
  <thead>
    <tr>
      <th>Tab</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_tabs.each do |user_tab| %>
      <tr>
        <td><%= user_tab.tab.name %></td>
        <td><%= user_tab.user.name %></td>
        <td><%= link_to 'Show', user_tab %></td>
        <td><%= link_to 'Edit', edit_user_tab_path(user_tab) %></td>
        <td><%= link_to 'Destroy', user_tab, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User tab', new_user_tab_path %>
