<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tab.name %>
</p>

<p>
  <strong>Venue:</strong>
  <%= @tab.venue.name %>
</p>

<%= link_to 'Edit', edit_tab_path(@tab) %> |
<%= link_to 'Back', tabs_path %>
